$headerHeight: 60px;
$submenuWidth: 320px;
$menuColor: #eef1f6;


* {
  margin: 0;
  padding: 0;
}

.h100 {
  height: 100%;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    height: $headerHeight;
    flex-basis: $headerHeight;
    top: 0;
    left: 0;
    width: 100%;
    line-height: $headerHeight;
    position: relative;

    .navigation {
      .title {
        font-size: 20px;
        background: $menuColor;
        text-align: center;
      }

      .menu {
        flex-grow: 1;
        height: $headerHeight;
        background: $menuColor;
      }
    }
  }

  .container {
    width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .main {
    flex-grow: 1;
    .submenu {
      height: 100%;
      background: $menuColor;
    }
  }

}