.title {
  background-color: red;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.verifyCode{
  width: 64px;
  height: 64px;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  line-height: 64px;
}